@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sora {
      font-family: "Sora", serif;
      font-optical-sizing: auto;
}
#banner-img{
      position: relative;
      animation: imgmove 3s;
      animation-iteration-count: infinite;
}

@keyframes imgmove {
      from {top: 0px;}
      to {top: 200px;}
    }
#move-h1{
      position: relative;
      animation: h1move 3s;
      animation-iteration-count: infinite;
}

@keyframes h1move {
      from {left: 0px;}
      to {left: 200px;}
    }